# Python
backend/.venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.db
*.sqlite3

# Environment
.env
.env.*

# Logs
*.log

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db